.App {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  // background-color: #cccccc;
  // background-image: repeating-linear-gradient(red, yellow 10%, green 20%)
  background: url("https://assets.vogue.in/photos/5ce41304b40d262a39d6aa7f/master/pass/Spotify-in-India-Add-Music-To-Instagram-Stories.jpg")  repeat; 
  background-size: 100% 100%;
}
